@keyframes load {
  100% {
    transform: translateX(210px);
  }
}
@keyframes load2 {
  100% {
    height: 0;
  }
}
@keyframes load3 {
  100% {
    opacity: 1;
  }
}
@keyframes load4 {
  100% {
    opacity: 0;
  }
}
.progress {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100px;
  animation-delay: 2000ms;
  animation-duration: 100ms;
  animation-name: load2;
  animation-fill-mode: forwards;
}

.progress--bar {
  width: 250px;
  height: 40px;
  background: #7E7E7E;
  border-radius: 20px;
  display: flex;
  justify-content: left;
  z-index: 1;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  animation-delay: 2000ms;
  animation-duration: 100ms;
  animation-name: load2;
  animation-fill-mode: forwards;
}

.progress--bar__fill {
  width: 250px;
  height: 40px;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  border-radius: 20px;
  z-index: 2;
  position: relative;
  display: flex;
  left: -210px;
  animation-duration: 2000ms;
  animation-name: load;
}

.progress--bar__txt {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
  z-index: 3;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  animation-delay: 2000ms;
  animation-duration: 100ms;
  animation-name: load4;
  animation-fill-mode: forwards;
}

body {
  margin: 0px;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation-delay: 2000ms;
  animation-duration: 100ms;
  animation-name: load3;
  animation-fill-mode: forwards;
  position: absolute;
}

.header {
  height: auto;
}

.header__logo {
  z-index: 2;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 63px;
  box-shadow: 0 2px 4px grey;
}
.header__logo img {
  width: 197px;
  object-fit: contain;
}

.header__formlocation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  color: #353535;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  gap: 30px;
  z-index: 1;
  position: relative;
  box-shadow: 0 2px 4px gray;
}
.header__formlocation .header__formlocation--dotlocation {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__intro {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: #F6F6F6;
}
.header__intro .header__intro--text {
  width: 275px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.header__intro .header__intro--text2 {
  width: 315px;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}

.button {
  margin-bottom: 50px;
  padding: 19px;
  height: 50px;
  color: white;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  border-style: solid;
  border-width: 0px;
  border-radius: 25px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 2px 4px gray;
  z-index: 2;
  position: relative;
  transition-duration: 1000ms;
}
.button:hover {
  background: linear-gradient(0deg, #c6a2f1, #e98bce);
  box-shadow: 0 2px 10px rgb(58, 58, 58);
}

.fonctionnement-container {
  width: 100%;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.fonctionnement-container__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  font-weight: 700;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
}

.fonctionnement-container__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button2 {
  margin-bottom: 20px;
  margin-left: 20px;
  width: 300px;
  height: 72px;
  color: black;
  background: #F6F6F6;
  border-style: solid;
  border-width: 0px;
  border-radius: 20px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 1px 2px 6px gray;
  z-index: 2;
  position: relative;
  transition-duration: 1000ms;
}
.button2:hover {
  background: white;
  box-shadow: 0 2px 4px black;
}

.button2--circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  position: absolute;
  left: -12px;
}

.button2--icon {
  color: #7E7E7E;
  padding-right: 20px;
}

.button2--icon2 {
  color: #9356DC;
  padding-right: 20px;
}

.restaurant-container {
  width: 100%;
  background-color: #F6F6F6;
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.restaurant-container__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.restaurant-container__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  width: auto;
  margin-bottom: 10px;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 230px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}

.cardimg {
  width: auto;
  position: relative;
}

.cardimg--new {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #008766;
  background-color: #99E2D0;
  width: 80px;
  height: 29px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 1;
  position: absolute;
  right: 20px;
  border-radius: 2px;
  margin-top: 10px;
}

.card-content {
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.card-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  color: black;
  font-family: "Roboto", sans-serif;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 10px;
}

.card-title2 {
  font-weight: 300;
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.card-heart {
  font-size: 25px;
  color: black;
  margin-top: 15px;
  margin-bottom: 15px;
}
.card-heart:hover .card-heart2 {
  animation-name: load4;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}
.card-heart:hover .card-heart3 {
  right: 31px;
  animation-name: load3;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.card-heart2 {
  opacity: 1;
  position: relative;
}

.card-heart3 {
  background: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  color: transparent;
  opacity: 0;
  position: relative;
}

.footer--container {
  width: 100%;
  background-color: #353535;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.footer--logo {
  color: white;
  font-family: "Shrikhand", serif;
  font-weight: lighter;
  font-size: 27px;
  margin-left: 15px;
}

.footer--container__link {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer--link1 {
  margin-left: 15px;
}

.footer--link2 {
  margin-left: 15px;
}

.footer--txt {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 19px;
  margin-left: 15px;
}

.main-container2 {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.header2 {
  width: 100%;
  height: 63px;
  display: flex;
  flex-direction: row;
}

.header__logo2--omf {
  margin-top: 15px;
  width: 200px;
  height: 36px;
  margin: auto;
}

.header__logo2--gb {
  margin-top: 15px;
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.photo {
  width: 100%;
  height: 275px;
  object-fit: cover;
  z-index: 1;
  position: relative;
}

.main-container3 {
  width: auto;
}

.menu-container {
  background-color: #EAEAEA;
  width: 100%;
  height: auto;
  padding-top: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -50px;
  z-index: 2;
  position: relative;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.menu-container2 {
  width: 100%;
}

.menu--load {
  animation-name: load3;
  animation-duration: 1000ms;
  opacity: 0;
  animation-fill-mode: forwards;
}

.menu--load2 {
  animation-name: load3;
  animation-duration: 1000ms;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
}

.menu--load3 {
  animation-name: load3;
  animation-duration: 1000ms;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-delay: 2000ms;
}

.menu--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 30px;
  padding: 0px;
  margin-bottom: 0px;
}

.menu--title__txt {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
  margin-left: 12px;
  padding: 0px;
  margin-bottom: 0px;
}

.menu--subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  margin-left: 12px;
  margin-top: 40px;
}

.menu--card-heart {
  font-size: 25px;
  color: black;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 0px;
  transition-duration: 2s;
  transition-property: opacity;
}
.menu--card-heart:hover .menu--card-heart2 {
  opacity: 1;
  animation-name: load4;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}
.menu--card-heart:hover .menu--card-heart3 {
  opacity: 0;
  right: 25px;
  animation-name: load3;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.menu--card-heart2 {
  opacity: 1;
  position: relative;
}

.menu--card-heart3 {
  background: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  color: transparent;
  opacity: 0;
  position: relative;
}

@keyframes check1 {
  100% {
    transform: translateX(-25px);
  }
}
@keyframes check2 {
  100% {
    width: 59px;
  }
}
.menu--card {
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 2px 6px gray;
  margin-bottom: 10px;
  margin-top: 5px;
  width: auto;
  height: 69px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}
.menu--card:hover .menu--card__select {
  animation-name: check2;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}
.menu--card:hover .menu--card__iconcheck {
  animation-name: check1;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}

.menu--card__container {
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow: hidden;
}

.menu--card__select {
  width: 0px;
  height: 69px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 3;
  position: relative;
}

.menu--card__iconcheck {
  color: rgb(255, 255, 255);
  font-size: 20px;
  z-index: 4;
  position: relative;
  right: -25px;
}

.menu--card__content {
  display: flex;
  padding-top: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
}

.menu--card__txt1 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
}

.menu--card__txt3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
}

.menu--card__content2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 12px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}

.menu--card__txt2 {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}

.menu--command {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 30px;
  margin-top: 40px;
}

.button3 {
  margin-bottom: 50px;
  width: 186px;
  padding: 19px;
  height: 50px;
  color: white;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  border-style: solid;
  border-width: 0px;
  border-radius: 25px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.button3:hover {
  background: linear-gradient(0deg, #c6a2f1, #e98bce);
  box-shadow: 0 2px 10px rgb(58, 58, 58);
}

/****** Media queries ***********/
/* Medium devices (tablets, more/equal than 768px) */
@media (min-width: 768px) {
  .fonctionnement-container {
    align-items: center;
    justify-content: center;
  }
  .fonctionnement-container__content {
    max-width: 1080px;
  }
  .fonctionnement-container__btn {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1080px;
    width: 100%;
  }
  .card {
    width: 490px;
  }
  .restaurant-container {
    align-items: center;
    justify-content: center;
  }
  .restaurant-container__content {
    max-width: 1080px;
  }
  .restaurant-container__card {
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: unset;
    align-items: center;
    justify-content: center;
  }
  .footer--container {
    padding-top: 40px;
    padding-bottom: 20px;
    flex-direction: row-reverse;
  }
  .footer--container__link {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .footer--logo {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 35px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
  }
  .main-container2 {
    justify-content: center;
  }
  .main-container3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-container {
    max-width: 1055px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu-container2 {
    max-width: 634px;
  }
  main {
    justify-content: center;
    align-items: center;
  }
  .menu--title {
    justify-content: center;
    gap: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
